<header>
    <nav class="container mx-auto">
        <div class="flex flex-row items-center mx-2 py-1">
            <div>
                <h2 class="text-primary">Sizzle</h2>
            </div>
            <div class="w-full">
                <form action="#" method="POST">
                    <div class="flex flex-row items-center">
                        <input type="text" name="recipe-name" id="recipe-name" class="mx-2">
                        <button type="submit" class="btn btn-primary rounded-1">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>