<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Sizzle - Share Your Recipes</title>

    <style>
        textarea {
            resize: vertical;
        }
    </style>

</head>

<body class="bg-light-gradient">
    <div class="container mx-auto">
        <div class="rounded-1 shadow-1 m-2 p-2">
            <h2 class="text-center text-primary">New Recipe</h2>
            <form action="/home/new" method="POST" enctype="multipart/form-data">
                <label for="title">Title <span class="text-danger">*</span></label><br>
                <input type="text" name="title" id="title" required><br><br>
                <label for="picture">Picture <span class="text-danger">*</span></label><br>
                <input type="file" name="picture" id="picture" accept="image/jpeg, image/png" required><br><br>
                <label for="description">Description <span class="text-danger">*</span></label><br>
                <input type="text" name="description" id="description" required><br><br>
                <div id="ingredients">
                    <label for="ingredients">Ingredients <span class="text-danger">*</span></label><br>
                    <input type="text" name="ingredients" required>
                </div>
                <button type="button" class="btn btn-success mt-1" id="add">Add Ingredient</button><br><br>
                <label for="steps">Steps <span class="text-danger">*</span></label><br>
                <textarea name="steps" id="steps" rows="10" required></textarea><br><br>
                <button type="submit" class="btn btn-primary">Create Recipe</button>
            </form>
        </div>
    </div>

    <script src="../js/recipe.js"></script>
</body>

</html>