/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Utilities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

input[type=text], input[type=email], input[type=password], input[type=number], textarea{
    width: 100%;
    background-color: #fafafa;
    border: 1px solid #e2e3e5;
    border-radius: 4px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

input[type=text], input[type=email], input[type=password], input[type=number] {
    height: 2rem;
}

input:focus, textarea:focus{
    outline: none;
}

/* Text Aligments */
.text-center{
    text-align: center;
}

.text-start{
    text-align: start;
}

.text-end{
    text-align: end;
}

/* Text-Colors */
.text-primary{
    color: #0d6efd;
}

.text-secondary{
    color: #6c757d;
}

.text-success{
    color: #198754;
}

.text-danger{
    color: #dc3545;
}

.text-warning{
    color: #ffc107;
}

.text-info{
    color: #0dcaf0;
}

.text-light{
    color: #f8f9fa;
}

.text-dark{
    color: #212529;
}

.text-muted{
    color: #c0c0c0;
}

.text-bold{
    font-weight: bold;
}

.text-sm {
    font-size: 12px;
}

.text-md {
    font-size: 14px;
}

/* Background-Colors */
.bg{
    padding: 0.25rem;
}

.bg-primary{
    background-color: #0d6efd
}

.bg-secondary{
    background-color: #6c757d;
}

.bg-success{
    background-color: #198754;
}

.bg-danger{
    background-color: #dc3545;
}

.bg-warning{
    background-color: #ffc107;
}

.bg-info{
    background-color: #0dcaf0;
}

.bg-light{
    background-color: #f8f9fa;
}

.bg-dark{
    background-color: #212529;
}

.bg-gray{
    background-color: #cccccc;
}

/* Background-Colors-Gradient */
.bg-primary-gradient{
    background-image: linear-gradient(#0d6efd, mediumblue);
}

.bg-secondary-gradient{
    background-image: linear-gradient(#6c757d, gray);
}

.bg-success-gradient{
    background-image: linear-gradient(#198754, green);
}

.bg-danger-gradient{
    background-image: linear-gradient(#dc3545, crimson);
}

.bg-warning-gradient{
    background-image: linear-gradient(#ffc107, gold);
}

.bg-info-gradient{
    background-image: linear-gradient(#0dcaf0, royalblue);
}

.bg-light-gradient{
    background-image: linear-gradient(#f8f9fa, whitesmoke);
}

.bg-dark-gradient{
    background-image: linear-gradient(#212529, black);
}

/* Buttons */
.btn{
    padding: 0.75rem 1rem;
    border: 0px;
    border-radius: 4px;
    text-align: center;
    transition-duration: 0.2s;
    color: white;
}

.btn:hover{
    cursor: pointer;
}

/* Button-Colors */
.btn-primary{
    background-color: #0d6efd;
}

.btn-primary:hover{
    background: mediumblue;
}

.btn-secondary{
    background-color: #6c757d;
}

.btn-secondary:hover{
    background-color: gray;
}

.btn-success{
    background-color: #198754;
}

.btn-success:hover{
    background-color: green;
}

.btn-danger{
    background-color: #dc3545;
}

.btn-danger:hover{
    background-color: crimson;
}

.btn-warning{
    background-color: #ffc107;
}

.btn-warning:hover{
    background-color: gold;
}

.btn-info{
    background-color: #0dcaf0;
}

.btn-info:hover{
    background-color: royalblue;
}

.btn-light{
    background-color: #f8f9fa;
    color: black;
}

.btn-light:hover{
    background-color: whitesmoke;
}

.btn-dark{
    background-color: #212529;
}

.btn-dark:hover{
    background-color: black;
}

/* Button-Colors-Gradient */
.btn-primary-gradient{
    background-image: linear-gradient(#0d6efd, mediumblue);
}

.btn-secondary-gradient{
    background-image: linear-gradient(#6c757d, gray);
}

.btn-success-gradient{
    background-image: linear-gradient(#198754, green);
}

.btn-danger-gradient{
    background-image: linear-gradient(#dc3545, crimson);
}

.btn-warning-gradient{
    background-image: linear-gradient(#ffc107, gold);
}

.btn-info-gradient{
    background-image: linear-gradient(#0dcaf0, royalblue);
}

.btn-light-gradient{
    background-image: linear-gradient(#f8f9fa, whitesmoke);
    color: black;
}

.btn-dark-gradient{
    background-image: linear-gradient(#212529, black);
}

/* Alerts */
.alert{
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 4px;
}

.alert-primary{
    background-color: #cfe2ff;
    color: #084298;
    border-color: #b6d4fe;
}

.alert-secondary{
    background-color: #e2e3e5;
    color: #41464b;
    border-color: #d3d6d8;
}

.alert-success{
    background-color: #d1e7dd;
    color: #0f5132;
    border-color: #badbcc;
}

.alert-danger{
    background-color: #f8d7da;
    color: #ad0513;
    border-color: #f5c2c7;
}

.alert-warning {
    background-color: #fff3cd;
    color: #664d03;
    border-color: #ffecb5;
}

.alert-info {
    background-color: #cff4fc;
    color: #055160;
    border-color: #b6effb;
}

.alert-light {
    background-color: #fefefe;
    color: #636464;
    border-color: #fdfdfe;
}

.alert-dark {
    background-color: #d3d3d4;
    color: #141619;
    border-color: #bcbebf;
}

/* Containers */
.container{
    max-width: 1024px;
}

/* Flexs */
.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-row-reverse{
    flex-direction: row-reverse;
}

.flex-col{
    flex-direction: column;
}

.flex-col-reverse{
    flex-direction: column-reverse;
}

.justify-center{
    justify-content: center;
}

.justify-start{
    justify-content: flex-start;
}

.justify-end{
    justify-content: flex-end;
}

.items-center{
    align-items: center;
}

/* Grids */
.grid{
    display: grid;
}

.gap-1{
    gap: 0.5rem;
}

.gap-2{
    gap: 1rem;
}

.gap-3{
    gap: 1.5rem;
}

.grid-cols-1{
    grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2{
    grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3{
    grid-template-columns: repeat(3, 1fr);
}

/* Paddings */
.p-1{
    padding: 0.5rem;
}

.p-2{
    padding: 1rem;
}

.p-3{
    padding: 1.5rem;
}

.px-1{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-2{
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-3{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py-1{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-3{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.pt-1 {
    padding-top: 0.5rem;
}

.pt-2 {
    padding-top: 1rem;
}

.pt-3 {
    padding-top: 1.5rem;
}

.pb-1 {
    padding-bottom: 0.5rem;
}

.pb-2 {
    padding-bottom: 1rem;
}

.pb-3 {
    padding-bottom: 1.5rem;
}

/* Margins */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.m-1{
    margin: 0.5rem;
}

.m-2{
    margin: 1rem;
}

.m-3{
    margin: 1.5rem;
}

.mx-1{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mx-2{
    margin-left: 1rem;
    margin-right: 1rem;    
}

.mx-3{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.my-1{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-3{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mt-1 {
    margin-top: 0.5rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 1.5rem;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

/* Width */
.w-25{
    width: 25%;
}

.w-50{
    width: 50%;
}

.w-75{
    width: 75%;
}

.w-full{
    width: 100%;
}

.w-auto {
    width: auto;
}

/* Height */
.h-25{
    height: 25%;
}

.h-50{
    height: 50%;
}

.h-75{
    height: 75%;
}

.h-full{
    height: 100%;
}

.h-auto{
    height: auto;
}

/* Border */
.rounded-full {
    border-radius: 9999px;
}

.rounded-1 {
    border-radius: 0.5rem;
}

.rounded-2 {
    border-radius: 1rem;
}

.rounded-3 {
    border-radius: 1.5rem;
}

/* Box-shadows */
.shadow-1 {
    box-shadow: 0 0 4px 1px  rgba(0, 0, 0, 0.2);
}

.shadow-2 {
    box-shadow: 0 1px 8px 2px  rgba(0, 0, 0, 0.2);
}

.shadow-3 {
    box-shadow: 0 2px 12px 3px  rgba(0, 0, 0, 0.2);
}

/* Display */
.display-none{
    display: none;
}

.display-block{
    display: block;
}

/* Line Heights */
.leading-1 {
    line-height: 1.2;
}

.leading-2 {
    line-height: 1.4;
}

.leading-3 {
    line-height: 1.6;
}